//Home
p.home
  max-width: 600px
  margin-top: 80px
  margin-left: 20px


.portrait
  max-width: 250px
  margin: 20px 20px 50px 20px

//Footer
p.footer
  text-transform: uppercase
  color: #000
  display: inline-block
  font-size: 14px
  margin-left: 20px
  margin-bottom: 20px
  border-right: 1px solid #000
  padding-right: 20px
  &:nth-last-child(1)
    border-right: none
  a
    color: #000
