=retina-background($normal-image, $retina-image)
  background-image: url($normal-image)
  @media #{$retina}
    background-image: url($retina-image)

body
  font-family: 'Roboto', sans-serif

//Navi
nav.top-bar
  font-family: 'Roboto Condensed', sans-serif
  .name
    a
      svg
        height: 35px
        margin-top: 8px

nav.top-bar:not(.expanded)
  text-align: center

.top-bar-section
  display: inline-block
  li
    a
      height: 45px
    a:hover
      padding-bottom: 3px
      border-bottom: 5px solid #e2e6e1

//Home
.home
  font-family: 'Roboto', sans-serif
  max-width: 600px
  margin-top: 80px
  margin-left: 20px
  margin-right: 20px
  padding-right: 10px

.headerbild
  height: 250px
  &.on-homepage
    +retina-background(image-path("header_start.jpg"), image-path("header_start@2x.jpg"))
  &.on-kontakt
    +retina-background(image-path("header_kontakt.jpg"), image-path("header_kontakt_@2x.jpg"))
  &.on-behandlungsangebot-erwachsene
    +retina-background(image-path("header_erwachsene.jpg"), image-path("header_erwachsene@2x.jpg"))
  &.on-behandlungsangebot-kinder-und-jugendliche
    +retina-background(image-path("header_kinder.jpg"), image-path("header_kinder@2x.jpg"))
  &.on-uebermich
    +retina-background(image-path("header_uber_mich.jpg"), image-path("header_uber_mich@2x.jpg"))

.headbild-text
  z-index: 2
  color: white
  font-size: 100px
  font-weight: bold

.portrait
  display: block
  float: right
  max-width: 250px
  width: 100%
  margin-top: 80px
  margin-bottom: 50px
  @media #{$small-only}
    margin-left: auto
    margin-right: auto
    float: none

.subline
  font-size: 10px
  display: inline-block

//Treatment
.treat
  margin: 20px 20px 20px 20px

//Footer
p.footer
  font-family: 'Roboto Condensed', sans-serif
  text-transform: uppercase
  color: #000
  display: inline-block
  font-size: 14px
  margin-left: 20px
  margin-bottom: 20px
  border-left: 1px solid #000
  padding-left: 20px
  &:nth-last-child(1)
    border-left: none
  a
    color: #000
hr
  color: #b6bcb3

//Contact
.contact
  margin: 20px 20px 20px 20px
.maps
  margin: 0 20px 50px 0
  height: 350px
  width: 100%

//Table About
.cv
  td:first-child
    width: 20%
    font-weight: bold
    padding-left: 0px
  td
    vertical-align: top
