%footer
  .row
    .small-12.columns
      %hr
      %p.footer.right= link_to 'Impressum', 'impressum.html'
      %p.footer.right= link_to 'Kontakt', 'kontakt.html'
      %p.footer.right= link_to 'Datenschutz', 'datenschutz.html'
