.contain-to-grid.fixed
  %nav.top-bar{"data-options" => "sticky_on: large", "data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1
          = link_to 'Psychotherapie Starnberg', 'index.html'
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.right
        %li.active
          %a{:href => "index.html"} Start
        %li.active
          = link_to 'Über mich', 'about.html'
        %li.active
          = link_to 'Behandlungsmethoden', 'treatment.html'
        %li.active
          = link_to 'Kontakt', 'contact.html'
