.row
  .small-12.columns
    .nav.top-bar
      %ul.title-area
        %li
          %h1.name Psychotherapie Starnberg
      .top-bar-section
        %ul.right
          %li.active
            %a.navigation-item{:href => "#"} Home
          %li.active
            %a.navigation-item{:href => "#"} Über mich
          %li.active
            %a.navigation-item{:href => "#"} Behandlungsmethoden
          %li.active
            %a.navigation-item{:href => "#"} Kontakt

