.row
  .small-12.columns
    .nav.top-bar
      %ul.title-area
        %li
          %h1 Psychotherapie Starnberg
      .top-bar-section
        %ul.right
          %li.active
            %a{:href => "#"} Home
          %li.active
            %a{:href => "#"} Über mich
          %li.active
            %a{:href => "#"} Behandlungsmethoden
          %li.active
            %a{:href => "#"} Kontakt

