- content_for :header_image do
  .row
    .small-12.colums
      .headerbild.on-kontakt
.row
  .small-12.columns.columns
    .treat
      :markdown
        ### Behandlungsangebot Erwachsene
        Psychotherapie - Verhaltenstherapie

        Die Verhaltenstherapie ist wissenschaftlich anerkanntes Verfahren zur Behandlung psychischer Erkrankungen. Sie stellt die Grundlage meiner Arbeit dar.
        Es wird davon ausgegangen, dass Verhaltensmuster und Einstellungen, die zur Entwicklung psychischer Probleme führen, erlernt werden und somit auch wieder verlernt werden können.
        Im Mittelpunkt steht dabei die „Hilfe zur Selbsthilfe“. Das heißt, der Patient wird in schwierigen Lebenssituationen darin unterstützt seine persönlichen Ressourcen zu aktivieren, um neue Lösungswege zu finden.

        #### Mein Behandlungsspektrum umfasst:

        * Depressionen
        * Ängste (Panikattacken, soziale Ängste, Phobien)
        * Persönlichkeitsstörungen
        * Zwangsgedanken und/oder -handlungen
        * Beschwerden nach traumatischen Ereignissen
        * ADS / ADHS im Erwachsenenalter
        * Autismusspektrumsstörungen
        * Essstörungen
        *	Schlafstörungen
        * Chronische Schmerzen
        * Burnout & Stress
        * Psychische Probleme aufgrund von körperlichen Erkrankungen
        * Unerfüllter Kinderwunsch
        * Sexualtherapeutische Beschwerden
        * Suchtprobleme
        * und weitere
