---
title: Lina Kreibich - Psychotherapie Starnberg - Behandlungsangebot Kinder und Jugendliche
---

- content_for :header_image do
  .row
    .small-12.colums
      .headerbild.on-behandlungsangebot-kinder-und-jugendliche

.row
  .small-12.columns.columns
    .treat
      :markdown

        ### Behandlungsangebot Kinder und Jugendliche

        In jeder Entwicklungsphase im Kindes- und Jugendalter kann es zu Schwierigkeiten und Krisen kommen. Neue Lebensereignisse wie Eintritt in Kindergarten oder Schule, Trennung der Eltern, Geburt eines Geschwisterkindes oder Belastungen wie Schwierigkeiten in der Schule, Mobbing oder Arbeitslosigkeit der Eltern können zum Auftreten von Verhaltensauffälligkeiten und psychischen Problemen führen.
        Diese können im Rahmen einer Psychotherapie behandelt werden. Dabei lernt der Betroffene Techniken, mit schwierigen Lebenssituationen besser umzugehen und alternative Verhaltensweisen zu zeigen.
        Dabei ist es mir wichtig, Sie als Eltern und wichtige Bezugspersonen regelmäßig in den Therapieprozess einzubeziehen.

        #### Mein Behandlungsspektrum umfasst:

        * Ängste (z.B. Trennungsängste, soziale Ängste, Phobien, Schul- und Versagensängste, Panikattacken)
        * Zwangs- und Ticstörungen
        * Aufmerksamkeitsdefizit- und Hyperaktivitätsstörungen (ADHS)
        * Störungen des Sozialverhaltens
        * Selbstwert-, Leistungs- und Beziehungsstörungen
        * Schulprobleme (Schulverweigerung, Mobbing)
        * Depressive Störungen
        * Bindungsstörungen
        * Autistische Störungen
        * Anpassungs- und Belastungsstörungen
        * Psychosomatische Störungen (z.B. Bauch- oder Kopfschmerzen)
        * Essstörungen
        * Schlafstörungen
        * Persönlichkeitsstörungen
        * Psychosen
        * und weitere Verhaltensauffälligkeiten (z.B. Einnässen, Einkoten)
