.row
  .small-12.colums
    %img{ src: 'images/header.jpg'}
  .row
    .small-12.columns.medium-6.columns
      %p
        :markdown
          #### Praxis für Psychotherapie für Erwachsene, Kinder und Jugendliche

          Dipl.-Psych. Anne-Karolina Kreibich <br/>
          Psychologische Psychotherapeutin

          Enzianstr. 4 <br/>
          82319 Starnberg <br/>
          Tel.: 08151-9596989 <br/>
          Mobil: 01577-7395174 <br/>
          Mail: ak.kreibich@gmx.de

          Ich freue mich über einen Anruf oder eine E-mail von Ihnen!
    .row.right
      .small-8.columns.small-centered.medium-12.columns.medium-uncentered
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5339.293634889565!2d11.363639456344606!3d48.00121226736664!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479dd018eeaf9ee1%3A0xa6817dccc64f46b9!2sEnzianstra%C3%9Fe+4%2C+82319+Starnberg%2C+Deutschland!5e0!3m2!1sde!2sde!4v1433330602535" width="450" height="350" frameborder="0" style="border:0" class="maps"></iframe>
