.row
  .small-12.colums
    %img{ src: 'images/header.jpg'}
  .row
    .small-12.columns.medium-6.columns
      %p
        :markdown
          #### Praxis für Psychotherapie für Erwachsene, Kinder und Jugendliche

          Dipl.-Psych. Anne-Karolina Kreibich <br/>
          Psychologische Psychotherapeutin

          Enzianstr.4 <br/>
          82319 Starnberg <br/>
          Tel.      08151-9596989 <br/>
          Mobil  01577-7395174 <br/>
          Mail     ak.kreibich@gmx.de

          Ich freue mich über einen Anruf oder eine E-mail von Ihnen!
