---
title: Lina Kreibich - Psychotherapie Starnberg - Impressum

meta: Dipl.-Psych. Anne-Karolina Kreibich Praxis für Psychotherapie für Erwachsene, Kinder und Jugendliche Psychologische Psychotherapeutin
---

- content_for :header_image do
  .row
    .small-12.columns
      .header-img.on-kontakt

.row
  .small-12.columns
    %h3 Impressum

    :markdown
      Dipl.-Psych. Anne-Karolina Kreibich <br/>
      Psychologische Psychotherapeutin

      Enzianstr. 4 <br/>
      82319 Starnberg <br/>
      Tel.: 08151-9596989 <br/>
      Mobil: 01577-7395174 <br/>
      Mail: ak.kreibich@gmx.de
