---
title: Lina Kreibich - Psychotherapie Starnberg - Startseite
---

.row
  .small-12.colums
    .headerbild.on-homepage
      .headline
        :markdown
          „Auch der längste Weg beginnt mit einem ersten Schritt!“<br/>
          Laotse
  .row
    .small-12.columns.medium-8.columns
      .home
        :markdown
          \...und auch wenn dieser erste Schritt oft unglaublich schwer fällt, so gilt: je eher Sie sich professionelle Hilfe suchen, desto schneller und einfacher können Ihre Probleme beseitigt werden. <br/>

          Gerne unterstütze ich Sie dabei und helfe Ihnen, einen neuen Weg einzuschlagen. Mein Ziel ist es, gemeinsam mit Ihnen lebensnahe und konkrete Lösungen zu erarbeiten, die sich im Alltag bewähren.

          Psychotherapie bedeutet für mich die Möglichkeit, den Patienten dabei zu unterstützen, sein Verhalten besser zu verstehen, zu entscheiden, was er verändern möchte und ihn bei diesem mutigen Schritt begleiten.
    .small-8.columns.small-centered.medium-4.columns.medium-uncentered
      %img{ src: 'images/lina-kreibich.jpg', class: 'portrait right' }
