.row
  .small-12.colums
    %img{ src: 'images/header.jpg'}
  .row
    .small-12.columns.columns
      %p
        :markdown
          ### Behandlungsangebot Erwachsene
          Psychotherapie - Verhaltenstherapie

          Die Verhaltenstherapie ist wissenschaftlich anerkanntes Verfahren zur Behandlung psychischer Erkrankungen. Sie stellt die Grundlage meiner Arbeit dar.
          Es wird davon ausgegangen, dass Verhaltensmuster und Einstellungen, die zur Entwicklung psychischer Probleme führen, erlernt werden und somit auch wieder verlernt werden können.
          Im Mittelpunkt steht dabei die „Hilfe zur Selbsthilfe“. Das heißt, der Patient wird in schwierigen Lebenssituationen darin unterstützt seine persönlichen Ressourcen zu aktivieren, um neue Lösungswege zu finden.

          Mein Behandlungsspektrum umfasst:

          * Depressionen
          * Ängste (Panikattacken, soziale Ängste, Phobien)
          * Persönlichkeitsstörungen
          * Zwangsgedanken und/oder -handlungen
          * Beschwerden nach traumatischen Ereignissen
          * ADS / ADHS im Erwachsenenalter
          * Autismusspektrumsstörungen
          * Essstörungen
          *	Schlafstörungen
          * Chronische Schmerzen
          * Burnout & Stress
          * Psychische Probleme aufgrund von körperlichen Erkrankungen
          * Unerfüllter Kinderwunsch
          * Sexualtherapeutische Beschwerden
          * Suchtprobleme
          * und weitere

          ### Behandlungsangebot Kinder und Jugendliche

          In jeder Entwicklungsphase im Kindes- und Jugendalter kann es zu Schwierigkeiten und Krisen kommen. Neue Lebensereignisse wie Eintritt in Kindergarten oder Schule, Trennung der Eltern, Geburt eines Geschwisterkindes oder Belastungen wie Schwierigkeiten in der Schule, Mobbing oder Arbeitslosigkeit der Eltern können zum Auftreten von Verhaltensauffälligkeiten und psychischen Problemen führen.
          Diese können im Rahmen einer Psychotherapie behandelt werden. Dabei lernt der Betroffene Techniken, mit schwierigen Lebenssituationen besser umzugehen und alternative Verhaltensweisen zu zeigen.
          Dabei ist es mir wichtig, Sie als Eltern und wichtige Bezugspersonen regelmäßig in den Therapieprozess einzubeziehen.

          Mein Behandlungsspektrum umfasst:

          * Ängste (z.B. Trennungsängste, soziale Ängste, Phobien, Schul- und Versagensängste, Panikattacken)
          * Zwangs- und Ticstörungen
          * Aufmerksamkeitsdefizit- und Hyperaktivitätsstörungen (ADHS)
          * Störungen des Sozialverhaltens
          * Selbstwert-, Leistungs- und Beziehungsstörungen
          * Schulprobleme (Schulverweigerung, Mobbing)
          * Depressive Störungen
          * Bindungsstörungen
          * Autistische Störungen
          * Anpassungs- und Belastungsstörungen
          * Psychosomatische Störungen (z.B. Bauch- oder Kopfschmerzen)
          * Essstörungen
          * Schlafstörungen
          * Persönlichkeitsstörungen
          * Psychosen
          * und weitere Verhaltensauffälligkeiten (z.B. Einnässen, Einkoten)




