---
title: Anne-Karolina Kreibich - Psychotherapie Starnberg - Über mich
canonical_path: '/ueber-mich'
---

- content_for :header_image do
  .row
    .small-12.columns
      .header-img.on-ueber-mich

%article
  .row.main-content
    .small-12.medium-8.columns
      %p
        Ich bin psychologische Psychotherapeutin für Verhaltenstherapie, das heißt Diplom-Psychologin mit staatlicher Approbation. Nach meiner Ausbildung zur Erwachsenentherapeutin habe ich die Weiterbildung für Kinder- und Jugendlichenpsychotherapie absolviert und behandle seitdem Erwachsene, Kinder und Jugendliche.

      .show-for-small-only
        %br
        = partial :portrait

      %h3.with-margin-top Therapeutische Qualifikationen
      %ul.qualification
        %li Psychologische Psychotherapeutin für Verhaltenstherapie (2008-2011)
        %li Zusatzqualifikation als Kinder- und Jugendlichentherapeutin,
        Verhaltenstherapie (2010-2013)
        %li Weiterbildung Gruppentherapie, Verhaltenstherapie (2008-2011)

      %h3.with-margin-top Mein Werdegang
      %table.cv
        %tr
          %td Seit 2015
          %td Therapeutische Tätigkeit in eigener Praxis, Starnberg
        %tr
          %td 2013-2014
          %td Therapeutische Tätigkeit in der Kölner Psychotherapiepraxis
        %tr
          %td 2011-2012
          %td Therapeutische Arbeit in der Praxis Dr. Shaw & Kollegen, Düsseldorf
        %tr
          %td 2011
          %td Approbation als Psychologische Psychotherapeutin
        %tr
          %td 2011-2012
          %td Ambulante therapeutische Behandlung von Kindern und Jugendlichen am  Ausbildungsinstitut für Verhaltenstherapie im Kindes- und Jugendalter an der Uniklinik Köln (AKiP)
        %tr
          %td 2010-2013
          %td Weiterbildung zur Erlangung der Zusatzqualifikation für Kinder- und Jugendlichenpsychotherapie am Ausbildungsinstitut für Verhaltenstherapie im Kindes- und Jugendalter an der Uniklinik Köln (AKiP)
        %tr
          %td 2010
          %td Diagnostische und therapeutische Tätigkeit als Stationspsychologin in der Kinder- und Jugendpsychiatrie Köln-Holweide
        %tr
          %td 2009-2012
          %td Ambulante therapeutische Tätigkeit am Kölner Lehrinstitut für Verhaltenstherapie (KLVT)
        %tr
          %td 2008-2009
          %td Stationäre und ambulante therapeutische Tätigkeit in der Klinik und Poliklinik für Psychiatrie und Psychotherapie der Universität Köln
        %tr
          %td 2008-2011
          %td Ausbildung zur Psychologischen Psychotherapeutin (Verhaltenstherapie) am Kölner Lehrinstitut für Verhaltenstherapie (KLVT)
        %tr
          %td 2004-2008
          %td Hauptstudium der Psychologie an der Universität zu Köln
        %tr
          %td 2002-2004
          %td Grundstudium der Psychologie (Diplom) an der Universität Eichstätt-Ingolstadt

    .small-12.medium-4.columns.show-for-medium-up
      = partial 'portrait'
